body {
    background-color:black;
}
.jumbotron {
    background-image: url("https://images.unsplash.com/photo-1504051569746-b952af8e65e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin:0px;
   
}
.banner-box-1 {
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1520045892732-304bc3ac5d8e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 425px;
    border: solid black 3px;
}
.banner-box-2 {
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1511361440208-4ed8c30293a8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 425px;
    border: solid black 3px;
}
.row{
    padding:20px;
}
.link-box{
    position:relative;
    text-align:center;
    top:60%;
    padding:20px;
    
  
}
    .link-box h3 {
        color: white;
        border: solid white 1px;
        margin: 0 100px;
        padding: 20px;
    }
@media screen and (max-width:768px){
    .link-box h3 {
        margin: 0 50px;
    }
    .banner-box-1 , .banner-box-2 {
        height: 30vh;
    }
}
@media screen and (max-width:576px) {
    .banner-box-2{
        margin-top:15px;
    }
    .link-box h3 {
        margin: 0 30px;
    }
    .banner-box-1, .banner-box-2 {
        height: 50vh;
    }
}